.title-italic-bold {
    font-family: 'ZapfDingbats', sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 80px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    background-color: #f4f4f4; 
    font-family: 'Arial', sans-serif; 
    display: flex;
}

canvas {
    display: none;
    margin: 5% 0px;
    border: 1px solid #ccc;
}

#scoreboard-container {
    width: 15%;
    background-color: #eee; 
    padding: 10px;
    border-radius: 8px; 
}

#scoreboardList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#scoreboardList li {
    margin-bottom: 5px;
    font-size: 14px; 
}


#container {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-top:6%;

    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

#title {
    font-size: 30px;
    margin-bottom: 20px;
}

#buttonContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

button {
    margin: 0 10px;
    padding: 10px;
    font-size: 16px;
    width: 115px;
}

#score {
    margin-top: 2%;
}

#game-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto; 
}

#theme-change-btn {
    position: fixed;
    top: 10px;
    right: 7%;
    height: 20px;
    color: black;
    font-size: 13px;
    padding: 1px 0px;
    border: none;
    cursor: pointer;
    border: 1px solid black;
}

#theme-change-btn:hover::after {
    content: "Changes theme to the original from 2019";
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    opacity: 0.8;
    white-space: nowrap;
}

button:hover {
    background-color: #ddd;
    cursor: pointer;
}

body.black-theme button:hover {
    background-color: #333;
    color: #fff;
}

body.light-theme button:hover {
    border: 1px solid black !important;
    background-color: #ddd !important;

}

